name: Go Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"
      - name: Display Go version
        run: go version

      - name: Install dependencies
        run: go mod download
      
      - name: Run tests with race        
        run: go test -race -cover ./...